
<style>
    .hide {
        display: none !important;
    }
</style>

<div class="alert alert-success" id="successMessage" style="display: none;">
    <span id="messageContent">Operation successful!</span>
</div>

<div class="modal fade" id="viewEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="viewEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewEmployeeModalLabel">Employee Details</h5>
                <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="alertSuccess" class="alert alert-success hide" role="alert">
                Changes saved successfully!
            </div>
            <div class="modal-body">
                <p>Employee ID: <span id="empID"></span></p>
                <p>First Name: <span id="firstName"></span></p>
                <p>Last Name: <span id="lastName"></span></p>
                <p>Phone: <span id="phone"></span></p>
                <p>Designation: <span id="designation"></span></p>
                <p>Experience: <span id="experience"></span></p>
                <p>Date of Birth: <span id="dateOfBirth"></span></p>
                <p>Date of Joining: <span id="dateOfJoining"></span></p>
                <p>Address: <span id="address"></span></p>
                <p>Pin Code: <span id="pinCode"></span></p>
                <p>City: <span id="city"></span></p>
                <p>State: <span id="state"></span></p>
                <p>Location<span id="Location"></span></p>
                <p>PAN Number: <span id="panNumber"></span></p>
                <p>Aadhaar Card: <span id="aadhaarCard"></span></p>
                <p>Contact Site: <span id="contactSite"></span></p>
                <p>Bank Name: <span id="bankName"></span></p>
                <p>Bank Address: <span id="bankAddress"></span></p>
                <p>Account Number: <span id="accountNumber"></span></p>
                <p>IFSC: <span id="iFSC"></span></p>
                <p>Salary: <span id="salary"></span></p>
                <p>PF Number: <span id="pFNumber"></span></p>
                <p>Working Hours: <span id="workingHours"></span></p>
                <p>Created By: <span id="createdBy"></span></p>
                <p>Modified By: <span id="modifiedBy"></span></p>
                <p>Created Date: <span id="createdDate"></span></p>
                <p>Modified Date: <span id="modifiedDate"></span></p>
                <p>Role Code: <span id="roleCode"></span></p>
                <p>User ID: <span id="userId"></span></p>
                <p>Username: <span id="userName"></span></p>
                <!-- Add other fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary hide" id="cancelBtn">Cancel</button>
                <button type="button" class="btn btn-primary hide" id="saveChangesBtn">Save Changes</button>
                <button type="button" class="btn btn-primary " id="editBtn">Edit</button>
            </div>
        </div>
    </div>
</div>
