<div class="alert alert-success" id="successMessage" style="display: none;">
    <span id="messageContent">Operation successful!</span>
</div>

    <div class="card">
        @* <h5 class="card-header">Contextual Classes</h5> *@
        <div class="table-responsive text-nowrap">
            <table class="table search-table" id="EmployeeDTTable">
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>Name</th>
                        <th>Phone No.</th>
                        <th>Salary/Day</th>
                        <th>Designation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
              @*       <tr class="table-default search-items">
                        <td></td>
                        <td>Anurag</td>
                        <td>6206549836</td>
                        <td>100</td>
                        <td>Web</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item view" href=""><i class="far fa-eye"></i> View</a>
@*                                     <a class="dropdown-item edit" href=""><i class="mdi mdi-pencil-outline me-1"></i> Edit</a> 
                                    <a class="dropdown-item deleteEmployee" href="javascript:void(0);"><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr> *@
                    <!-- More rows here -->
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item" id="prevPage">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <span id="pageIndicator" class="page-link">Page 1</span>
            <li class="page-item" id="nextPage">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

