

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        @* <a class="navbar-brand">Navbar</a> *@
        <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" id="SearchItem" aria-label="Search">
            <button class="btn btn-outline-success me-2" type="submit">Search</button>
        </div>
        <div class="d-flex ms-auto">
            <a class="btn btn-primary" href="/AddEmployee/AddEmployeePage">Add Employee</a>
        </div>
    </div>
</nav>
<partial name="_tableView" />
<partial name="_Models" />



<script src="~/js/addemployeedetails1.js"></script>