# Ignore bin and obj directories
bin/
obj/

# Ignore user-specific files
*.user
*.swp

# Ignore Visual Studio Code files
.vscode/
.vs/

# Ignore Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.dll

# Ignore NuGet packages
packages/

# Ignore build results
build/

# Ignore logs
*.log
