<link href="~/css/loading.css" rel="stylesheet" />

<div class="card">
    <!-- Loading Spinner -->
    <div id="loadingSpinner" style="display:none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table search-table" id="EmployeeAttendance">
            <thead>
                <tr>
                    <th>EmpID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>SignIn</th>
                    <th>SignOut</th>
                    <th>P</th>
                    <th>A</th>
                    <th>OT</th>
                    
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
               
               </tbody>
        </table>

    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item" id="prevPage">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <span id="pageIndicator" class="page-link">Page 1</span>
        <li class="page-item" id="nextPage">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<!-- Bootstrap Modal -->
<div class="modal fade" id="otModal" tabindex="-1" aria-labelledby="otModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otModalLabel">Overtime Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="otForm">
                    <div class="mb-3">
                        <label for="otHours" class="form-label">Hours</label>
                        <input type="number" class="form-control" id="otHours" required>
                    </div>
                    <div class="mb-3">
                        <label for="otComment" class="form-label">Comment</label>
                        <textarea class="form-control" id="otComment" rows="3" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="CloseModel">Close</button>
                <button type="button" class="btn btn-primary" id="saveOtDetails">Save changes</button>
            </div>
        </div>
    </div>
</div>
