
<head>
    <!-- Include flatpickr CSS -->
    <link href="~/vendor/css/flatpickr.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" id="SearchItem" aria-label="Search">
            </div>
            <div class="d-flex ms-auto">
                <a class="btn btn-primary" href="/AddEmployee/AddEmployeePage">All Submit</a>
            </div>
        </div>
    </nav>

    <partial name="_tableViewInAttendances" />


    <script src="~/vendor/js/flatpickr.js"></script>
    <script src="~/js/attendance.js"></script>

</body>

