<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmpID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Advance</th>
                <th scope="col">PF</th>
                <th scope="col">ESIF</th>
                <th scope="col">Other Credit</th>
                <th scope="col">Total Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>John Doe</td>
                <td>Software Engineer</td>
                <td>$5000</td>
                <td>$300</td>
                <td>$200</td>
                <td>$150</td>
                <td>$100</td>
                <td>$4450</td>
            </tr>
            <!-- Additional rows can go here -->
        </tbody>
    </table>
</div>
