<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmpID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary(Day)</th>
                <th scope="col">Advance</th>
                <th scope="col">PF(12%)</th>
                <th scope="col">ESIF(12%)</th>
                <th scope="col">Other Credit</th>
                <th scope="col">Total Salary</th>
            </tr>
        </thead>
        <tbody>
 
            <!-- Additional rows can go here -->
        </tbody>
    </table>
</div>
